body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    text-align: center;
  }

h1 {
  text-align: center;
  margin-top: 20px;
}

.table-container {
  text-align: center;
}

.table-container table {
  margin: auto;
}

.table-container table td {
  padding: 10px;
}
